

.card,
.card-sec {
  width: 100%;
  border-radius: 10px !important;
  margin-left: auto;
  margin-right: auto;
  transition: all 250ms ease;
  // animation: grow-shadow ;
}
.card,
.card-sec,
#Footer {
  background-color: rgb(24, 37, 41) !important;
}

.card:hover {
  .about-title {
    font-family: cocoFont;
    transition: all 500ms ease-in-out;
  }
  -webkit-box-shadow: 0px 17px 49px 1px #ffffff;
}
.moonoz-college {
    width: 100%;
    height: 294px;
    margin: 10% 0 12%;
  }
.moonoz-college {
  width: 100%;
  height: 100%;
  background: url("../img/joelCollege.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.hidden-Mouseketeer{
  // position: absolute;
  opacity: 0;
  transition: 1s ease-in;
}
.moonoz-college:hover{
  .hidden-Mouseketeer{
    opacity: 1;
    // margin-bottom: 50px;
    transition: 1s ease-out;
  }

}

.frame {
  border-image: url("../img/goldFrame.png") 130 145 133 138 stretch stretch;
  border-color: #f4be52;
  border-style: inset;
  border-width: 50px;
  display: inline-block;
  background-color: #fffe;
  margin: 0 auto;
}
.about-title {
  font-size: 24px;
  font-weight: 600;
}

.red-change:hover {
  background-color: rgb(126, 33, 53, 0.5) !important;
}
.blue-change:hover {
  background-color: #345454 !important;
}
.card-body{
  justify-content: center;
  display: flex;
  align-items: center;

}

.card-body{
  .card-text{
    display: none;
  }
}
// hover effects
.card-body:hover{
  .card-text{
    display: block;
  }
  .card-title{
    display: none;
  }
}



@media screen and (min-width: 370px) and (max-width: 400px ) {
  .hidden-Mouseketeer{
    width: 35%;
    left: 130px;
  }
  .moonoz-college {
    width: 100% !important;
    height: 294px !important;
    margin: 10% 0 12%;
  }
  .aboutMe-Name{
    font-size: 27px;
  }
  .card{
    height: 100px;
  }
  .aboutMe-foot{
    font-size: 14px;
  }
  
}

@media screen and (min-width: 990px) {
  .card {
    margin-top: 30px;
    width: 340px;
    height: 165px;
  }
  .moonoz-college {
    width: 100%;
    height: 350px;
    margin-top: -150px;
  }
  .moonoz-Img img {
    width: 75%;
  }
  .hidden-Mouseketeer{
    // visibility: hidden;
    width: 75%;
  }
  
}
