.card-sec {
  width: 100%;
  border-radius: 10px !important;
  margin-left: auto;
  margin-right: auto;
  transition: all 500ms ease-in-out;
}
.card,
.card-sec {
  background-color: rgb(24, 37, 41) !important;
}

#About {
  text-align: left !important;
}
.skills-title{
  font-weight:600;
}
.intro-text{
  opacity:70%;
}

li{
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 10px;
  padding-left: 5px;
}

li::marker{
  content: "▹" !important;
  position: absolute;
  left: 0;
  color: #dc3545 !important;
}
.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  margin-left: 15px !important;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none;
}

.moonoz-college {
  // top: 50%;
  width: 100%;
  height: auto;
  margin: 10% 0 12%;
  background: url("../img/joelCollege.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.moonoz-cont{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-Mouseketeer {
  opacity: 0;
  transition: 1s ease-in;
}
.moonoz-college:hover {
  .hidden-Mouseketeer {
    opacity: 1;
    // margin-bottom: 50px;
    transition: 1s ease-out;
  }
}

.frame {
  border-image: url("../img/goldFrame.png") 130 145 133 138 stretch stretch;
  border-color: #f4be52;
  border-style: inset;
  border-width: 50px;
  display: inline-block;
  background-color: #fffe;
  margin: 0 auto;
}
.about-title {
  font-size: 40px;
  font-weight: 600;
}
.about-foot{
  // display: flex;
  // justify-content:center;
  text-align:center;
}

.red-change:hover {
  background-color: rgb(126, 33, 53, 0.5) !important;
}
.blue-change:hover {
  background-color: #345454 !important;
}

@media screen and (min-width: 370px) and (max-width: 400px) {
  .hidden-Mouseketeer {
    width: 35%;
    left: 130px;
  }
  .moonoz-college {
    width: 100% !important;
    height: 294px !important;
    margin: 10% 0 12%;
  }
  .aboutMe-Name {
    font-size: 27px;
  }

  .aboutMe-foot {
    font-size: 14px;
  }
}
@media screen  and (min-width: 768px) and (max-width: 900px) {
  .moonoz-college{
    height: 650px;
  }
  .hidden-Mouseketeer{
    width: 50%;
  }
}
@media screen and (min-width: 990px) {
  .moonoz-college {
    width: 100%;
    height: auto;
  }
  .moonoz-Img img {
    width: 75%;
  }
  .hidden-Mouseketeer {
    // visibility: hidden;
    width: 75%;
  }
}
