
.name {
    font-size: 40px !important;
  }
  
  .banner-text {
    line-height: 2.5rem;
    text-shadow: 0 0 5px black;
  }
  .job-title {
    font-size: 29px;
  }
  
  .banner-icons,
  .footer-icons {
    margin: 2% 0;
    display: flex;
    justify-content: space-evenly;
    .lkd-icon,
    .git-icon,
    .ig-icon, .banner-arrow {
      opacity: 70% !important;
    }
  }
  // icon hover
  .link-icon:hover {
    opacity: 100% !important;
    .icon-item {
      fill: #dc3545;
    }
  }

  .banner {
    height: 100vh;
    background-size: cover;
    background-image: url("../img/bannerLight.jpg");
    background-position: center;
    // padding: 21.3rem 0 14rem !important;
  }
  
  @media only screen and(min-width:375px) and (max-width: 425px) {

    .banner {
        padding: 330px 0 60px !important;
        background-position: -755px 0px;
      }
      .banner-arrow {
        // margin-top: 50px;
        margin: 50px 0 10px !important;
      }
      .job-title {
        font-size: 28;
        font-weight: 500;
      }
      .banner-text{
        margin-top: 125px;
      }
  }

  @media only screen and (min-width: 990px){
    .name{
        font-size: 60px!important;
      }
      .banner-arrow{
      margin-top: 1rem;
      }
      .banner{
        padding: 15.3rem 0 14rem !important;
      }
  }