
.banner-icons,
.footer-icons {
  margin: 2% 0;
  display: flex;
  justify-content: space-evenly;
  .lkd-icon,
  .git-icon,
  .ig-icon,
  .banner-arrow {
    opacity: 70% !important;
    margin-top: 2%;
  }
}
.icon-item{
  transition: .25s ease-in !important;
}

// icon hover
.link-icon:hover {

  opacity: 100% !important;
  .icon-item {
    fill: #dc3545;
  }
}

.banner {
  height: 100vh;
  background-size: cover;
  background-image: url("../img/bannerBkgd.jpg");
  background-position: center;
  // padding: 21.3rem 0 14rem !important;
}

@media screen and (max-width: 425px) {
  .banner {
    padding: 260px 0 60px !important;
    background-position: -740px 0px;
  }
  .banner-arrow {
    // margin-top: 50px;
    margin: 50px 0 10px !important;
  }
  .job-title {
    font-size: 28 !important;
    font-weight: 300;
    margin-bottom:15px;
  }
  .banner-text {
    margin-top: 125px;
  }
  .name {
    font-size: 50px !important;
    font-weight: 600;
  }
}

@media only screen and (min-width: 990px) {
  .name {
    font-size: 70px !important;
    font-weight: 700;
  }
  
  .banner {
    padding: 15.3rem 0 14rem !important;
  }
}
