.banner-icons,
.footer-icons {
  margin: 2% 0;
  display: flex;
  justify-content: space-evenly;

  .banner-arrow {
    opacity: 70% !important;
    margin-top: 2%;
  }
}
.icon-item {
  opacity: 70%;
  transition: 0.25s ease-in !important;
}
.name {
  font-weight: 700;
}

// icon hover
.link-icon:hover {
  opacity: 100% !important;
  .icon-item {
    fill: #dc3545;
  }
}

.banner {
  height: 100vh;
  background-size: cover;
  background-image: url("../img/bannerBkgd.jpg");
  background-position: center;
  // background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 21.3rem 0 14rem !important;
}

@media screen and (max-width: 425px) {
  .banner {
    padding: 260px 0 60px !important;
    background-position: -840px 0px;
  }
  .banner-arrow {
    // margin-top: 50px;
    margin: 50px 0 10px !important;
  }
  .job-title {
    font-size: 28 !important;
    font-weight: 300;
    margin-bottom: 15px;
  }
  .banner-text {
    margin-top: 125px;
  }
  .name {
    font-size: 50px !important;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    // padding: 260px 0 60px !important;
    background-position: -882px 0px;
  }
  .name {
    font-size: 80px;
  }
  .job-title {
    font-size: 40px;
  }
  .icon-item {
    height: 3rem;
    width: 3rem;
  }
  .banner-icons,
  .job-title {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 769px)  and (max-width:850px) {
  .banner {
    padding: 375px 0 60px !important;
    background-position: -1055px 0px;
  }
  
}
@media only screen and (min-width: 900px) {
  .banner {
    background-position: 0px 0px;;
    // padding: 15.3rem 0 14rem !important;
  }
}
