// ************************
// email
// ************************
.button-align {
  display: flex;
  justify-content: flex-end;
}

.formInput,
.form-control,
.button-align {
  margin-top: 15px;
}
.contact-header {
  justify-content: center;
  // display: flex;
  align-items: center;
  p {
    opacity: 80%;
    font-size: 15px;
    font-weight: 300;
  }
  .container {
    margin-top: 10%;
  }
}
.contact-text {
    font-size: 50px !important;
    font-weight: 600 !important;
  }
.form-control {
  background-color: transparent;
}


@media screen and (min-width: 375px)  {
    
  }
  

