// ************************
// email
// ************************
.button-align {
  display: flex;
  justify-content: flex-end;
}

.formInput,
.form-control,
.button-align {
  margin-top: 15px;
}
.contact-header {
  justify-content: center;
  // display: flex;
  align-items: center;
  p {
    opacity: 80%;
    font-size: 15px;
    font-weight: 300;
  }
  
}
.contact-text {
    font-size: 50px !important;
    font-weight: 700 !important;
  }
// .form-control {
  // background-color: transparent;
  // color: rgb(90, 90, 90) !important;
  // font-weight: 500;
// }


@media screen and (min-width: 375px)  {
    
  }
  

