#Moonoz {
  text-align: left;
}
.moonoz-footer {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .selfDescription {
    font-size: 50px;
    font-weight: 600;
  }
}
.selfDescription {
  font-size: 20px;
}

@media only screen and (max-width: 391px) {
  .selfDescription {
    font-size: 22px;
    font-weight: 600;
  }
}
