#Moonoz {
  text-align: left;
}
.moonoz-footer {
  text-align: center;
}
.moonoz-design{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.moonoz-Ipad{
  // position: absolute;
  // top: 50%;
  border-radius: 10px;;
  width: 100%;
  height: auto;
}
.ipad-outline{
  // position: relative;
  height: 100%;
  width: 100%;
  border: 5px solid rgba(155,255,23);
  // transform: translateZ(4px);
}

@media screen and (min-width: 1200px) {
  .selfDescription {
    font-size: 50px;
    font-weight: 600;
  }
}
.selfDescription {
  font-size: 20px;
}

@media only screen and (max-width: 391px) {
  .selfDescription {
    font-size: 22px;
    font-weight: 600;
  }
  .moonoz-design{
    margin-top: 5%;
  }
}
