.btn-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.card {
  height: 100%;
  border-radius: 10px !important;

  .card-img{
    border-radius: 10px 10px 0px 0px;
  }
}
.card:hover {
  .card-title {
    color: #dc3545 !important;
  }
}
.card-text,
.card-title,
.btn-row,
.project-tools {
  text-align: left;
}
.card-body {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-weight: 700;
  transition: 200ms ease-in-out;
}
.card-text {
  font-size: 13px;
  opacity: 80%;
}
.project-tools {
  font-size: 12px;
  font-weight: 300;
  opacity: 50%;
}
.project-header {
  font-weight: 600;
  margin-bottom: 1em;
}
.project-footer {
  opacity: 60%;
  font-size: 25px;
  font-weight: 600;
}
#Projects,
.project-footer,
.selfDescription {
  margin-top: 5%;
}

@media screen and (max-width: 375px) {
  .card {
    margin-top: 10px !important;
    .card-title {
      font-size: 27px;
    }
    .card-text {
      font-weight: 300;
      font-size: 17px;
    }
    .project-tools {
      font-size: 12px;
      font-weight: 200;
    }
    .project-footer {
      margin-top: 15px;
      font-size: 15px !important;
    }
  }
}
// large mobile screen
@media screen and (max-width: 425px) {
  .card {
    margin-top: 2%;
    .card-title {
      font-size: 30px;
    }
    // .card-text {
    // }
    .project-footer {
      font-size: 25px !important;
    }
  }
}
@media screen and (max-width: 850px) {
  .card {
    margin-bottom: 6%;
  }
  .card-title {
    font-size: 50px;
  }
  .card-text {
    font-size: 20px;
  }
  .project-header {
    font-size: 40px;
  }
  .project-tools {
    font-size: 20px;
  }
  
}

@media screen and (min-width: 1200px) {
  .card {
    height: 100%;
    .card-title {
      font-size: 30px !important;
    }
    .card-text {
      font-size: 12px;
      height: 55px;
    }
    .project-tools {
      font-size: 10px;
    }
  }
  .project-header {
    font-size: 50px;
    font-weight: 600;
  }
}
