@media screen and (min-width: 350px) and (max-width: 420px) {
  .card-sec {
    width: 85% !important;
  }
  .moonoz-Img {
    box-shadow: #133a1b;
    img {
      border-radius: 70%;
      object-fit: contain;
      width: 100%;
    }
  }
  .Moonoz {
    margin-left: 11rem !important;
    margin-top: -12rem !important;
  }

  .skills-space {
    margin-top: 32px;
  }
  .skill,
  .certificate-title,
  .front-title,
  .tool-title,
  .graphics-title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
  }

  .skills-head {
    font-size: 18px;
  }
  .skill-text {
    font-size: 12px;
    font-weight: 600;
  }
  .project-img {
    border-radius: 5%;
    height: 90%;
    width: 100%;
    margin-top: 10px;
  }
  .project-header {
    font-size: 27px;
  }
}

@media screen and (min-width: 990) {
  .skill-title {
    font-weight: 500;
    font-size: 25px;
  }
  .moonoz-Img {
    margin-top: 3rem;
    .Moonoz {
      width: 90%;
    }
  }
}
