@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap");


// colors influenced by coco
$main-bkgd: #172029;
$whtColor: #fcf4f4;


:root{
  --font: "Inter", sans-serif;
  box-sizing: border-box;
  text-align: center;
}

* {
  margin: 0;
  display: flexbox;
  color: $whtColor;
}
body{
  background-color: $main-bkgd !important;
}

a {
  color: $whtColor !important;
  text-decoration: none !important;
}
#Footer {
  // background-color: #2b3a4b;
  padding: 1.5rem 0;
  p{
    opacity: 60%;
    font-weight: 300;
  }
}
.section-bkgd {
  padding: 15px 0;
  // background-color: $main-bkgd;
}

.icon-item {
  height: 2rem;
  width: 2rem;
}
.cert-icon {
  fill: $whtColor;
}
//************************
// Navbar
//************************
#nav {
  backdrop-filter: blur(4px) saturate(200%) !important;
  -webkit-backdrop-filter: blur(4px) saturate(200%) !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
  border-bottom: 1px solid rgba(209, 213, 219, 0.3) !important;
  .navbar-brand,
  .nav-link,
  .navbar-text {
    color: white ;
    font-weight: 900;
  }
  .navbar-brand {
    text-align: left !important;
  }
 
}
.navbar-brand:hover, .nav-link:hover{
  color: #dc3545 !important;
}

.nav-tag {
  width: 25%;
  text-align: left !important;
}
.word-link {
  display: inline-block;
  position: relative;
  color: #dc3545;
  transition: 0.5s ease-out;
}
.word-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  color: #dc3545;
  background-color: #dc3545;
  transform-origin: bottom right !important;
  transition: transform 0.25s ease-out;
}
.word-link:hover {
  color: #dc3545 !important;
}
.word-link:hover:after {
  color: #dc3545 !important;
  transform: scaleX(1) !important;
  transform-origin: bottom left !important;
}

//************************
//text1
//************************



.aboutMe-title,
.skills-head,
.quote-auth,
.city,
.aboutMe-foot,
.projects-title {
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 60% !important;
}

.quote-text{
  font-size: 35px;
  font-weight: 500;
}

// margin between sections{
  #About, #Quote,#Projects,#Moonoz, #Email{
    margin-top: 8%;
  }
 

// ************************
// button
// ************************
.btn-outline-danger {
  color: #dc3545 !important;

}
.btn-outline-danger:hover{
  background-color: rgba(220, 53, 69, 0.3) !important;
}




// ************************
// skills section
// ************************
.moonoz-Img {
  img {
    border-radius: 50%;
    object-fit: contain;
    width: 25%;
    box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
  }
}


.card-sec {
  padding: 0.7rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
.card-sec {
  border-radius: 10px;
  width: 75% !important;
  margin-bottom: 2em;
  div {
    text-align: left !important;
  }
}





//************************
// footer
//*************************
.skill-text {
  font-size: 12px;
  opacity: 80%;
}
.front-icon {
  stroke-width: 1;
}


.skill-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.project-img{
  border-radius: 3%;
  height: 100%;
  width: 85%;
  object-fit: cover;
  background-color: #fcf4f4;
}

a {
  p {
    text-align: left;
    margin-bottom: 5px;
  }
}

//************************
// footer
//************************
.footer-icons {
  .icon-item {
    margin-left: 2%;
  }
}


// **************************************************************
// Media screen size phones
// **************************************************************

// 
// iphone 12
// 

@media only screen and (max-width: 700px) {
  // *********
  // shared CSS rules
  // *********

  .skill-text {
    font-size: 12px !important;
    opacity: 80% !important;
  }
  .skills-head,
  .skill-intro {
    text-align: left;
  }
  

.about-title {
  font-size: 30px !important;
  font-weight: 600 !important;
}


  // *********************
  // about me
  // *********************

  .aboutMe-foot {
    font-size: 20px;
    margin-bottom: 2rem;
  }


  .project-img{
    border-radius: 5%;
    height: 90%;
    width: 100%;
    margin-top: 10px;
  }
  .project-header{
    font-size: 27px;
  }
  

  #About, #Projects{
    margin-top: 10px;
  }


  .selfDescription {
    font-size: 20px;
  }
  svg.icon-item{
    margin-bottom: 8px;
    margin-right: 10px;
    height: 2.5rem;
    width: 2.5rem;
  }
}

// 
// laptops
// 

@media only screen and (min-width: 990px) {

.selfDescription, .aboutMe-Name{
  font-size: 50px;
}
.selfDescription{
  margin-top: 50px;
}
.aboutMe-foot{
  margin-bottom: 50px;
}
// *********************
// about me
// *********************
.moonoz-Img img{
  width: 75%;
}
// *********************
// skills
// *********************


.cert-icon, .graph-icon, .tools-icon, .front-icon{
  margin-right: 5px;
  margin-bottom: 5px;
}



}
