@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap");

@font-face {
  font-family: "cocoFont";
  src: url("../font/Coco.otf");
}
// colors influenced by coco
$main-bkgd: #0d1318;
$whtColor: #fcf4f4;
$redColor: #ee3b24;
$blueColor: #2498cb;
$dk-blue: #107dbc;
$pinkColor: #ef519e;
$orangeColor: #f99e1a;
$dk-orange-color: #f5801e;
$green-color: #ada03d;

:root{
  --font: "Inter", sans-serif;
  box-sizing: border-box;
  text-align: center;

}

* {
  margin: 0;
  display: flexbox;
  color: $whtColor;
}

a {
  color: $whtColor !important;
  text-decoration: none !important;
}
#Footer {
  // background-color: #2b3a4b;
  padding: 1.5rem 0;
}
.section-bkgd {
  padding: 15px 0;
  // background-color: #1f0202;
  background-color: $main-bkgd;
}

.icon-item {
  height: 2rem;
  width: 2rem;
}
.cert-icon {
  fill: $whtColor;
}
//************************
// Navbar
//************************
#nav {
  backdrop-filter: blur(4px) saturate(200%) !important;
  -webkit-backdrop-filter: blur(4px) saturate(200%) !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
  border-bottom: 1px solid rgba(209, 213, 219, 0.3) !important;
  .navbar-brand,
  .nav-link,
  .navbar-text {
    color: white !important;
    font-weight: 900;
  }
  .navbar-brand {
    text-align: left !important;
  }
 
}

.nav-tag {
  width: 25%;
  text-align: left !important;
}

//************************
//text1
//************************
.name,
.selfDescription,
.skill-intro,
.aboutMe-Name {
  font-family: cocoFont !important;
}

h1 {
  font-size: 80px;
  font-weight: 600;
}
h2 {
  font-size: 60px;
}

h1,
h2,
h3,
.navbar-brand {
  color: white;
  font-weight: bold;
}
.aboutMe-title,
.skills-head,
.quote-auth,
.city,
.aboutMe-foot,
.projects-title {
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 60% !important;
}

.quote-text,
.job-title {
  font-size: 35px;
  font-weight: 500;
}

// ************************
// quote section
// ************************

#Quote {
  // margin-top: 5%;
  display: flex;
  height: 250px;
}
.quote-row{
  margin-top: auto !important;
  margin-bottom: auto!important;
  vertical-align: middle;
}
.quote-auth {
  font-size: 20px;
  font-weight: 500;
}

//************************
//banner
//************************

.name {
  font-size: 40px !important;
}

.banner-text {
  line-height: 2.5rem;
}
.job-title {
  font-size: 29px;
}

.banner-icons,
.footer-icons {
  margin: 2% 0;
  display: flex;
  justify-content: space-evenly;
  .lkd-icon,
  .git-icon,
  .ig-icon {
    opacity: 70% !important;
  }
}
// icon hover
.lkd-icon:hover {
  opacity: 100% !important;
  .icon-item {
    fill: $orangeColor;
  }
}
.git-icon:hover {
  opacity: 100% !important;
  .icon-item {
    fill: $redColor;
  }
}
.ig-icon:hover {
  opacity: 100% !important;
  .icon-item {
    fill: $pinkColor;
  }
}
.banner {
  background-size: cover;
  background-image: url("../img/bannerBkgd.jpg");
  background-position: center;
  padding: 21.3rem 0 14rem !important;
}

//************************
// about me
//************************
.card, .card-sec {
  width: 100%;
  border-radius: 10px !important;
  margin-left: auto;
  margin-right: auto;
  transition: all 250ms ease;
  // animation: grow-shadow ;
}
.card, .card-sec, #Footer{
  background-color: rgb(24, 37, 41) !important;
}

.card:hover {
  transition: all 250ms ease-in-out;
  -webkit-box-shadow: 0px 17px 49px 1px #ffffff;
  .about-title {
    font-family: cocoFont;
  }
}
.moonoz-college {
  width: 100%;
  height: 100%;
  // background-color: $redColor;
  background: url("../img/joelCollege.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  // background-repeat: none;
  // background-position: cover;
  // border-radius: 50%;
  // box-shadow: 0px 0px 22px 5px rgb(255, 255, 255, .8);
}
.moonoz-college:hover {
  background: url("https://c.tenor.com/02ILjyFVXWQAAAAC/handshake.gif")
    no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #fffe;
}
.frame {
  border-image: url("../img/goldFrame.png") 130 145 133 138 stretch stretch;
  border-color: #f4be52;
  border-style: inset;
  border-width: 50px;
  display: inline-block;
  background-color: #fffe;
  margin: 0 auto;
}
.about-title {
  font-size: 24px;
  font-weight: 600;
}


.red-change:hover {
  background-color: rgb(126, 33, 53, 0.5) !important;
}
.blue-change:hover {
  background-color: #345454 !important;
}

// ************************
// skills section
// ************************
.moonoz-Img {
  img {
    border-radius: 50%;
    object-fit: contain;
    width: 25%;
    box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
  }
}

.card-title {
  justify-content: center !important;
}
.card-sec {
  padding: 0.7rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
.card-sec {
  border-radius: 10px;
  width: 75% !important;
  margin-bottom: 2em;
  div {
    text-align: left !important;
  }
}

// ************************
// email
// ************************
.button-align{
  display: flex;
  justify-content: flex-end;
}
.formInput, .form-control, .button-align{
  margin-top: 15px;
}


//************************
// footer
//*************************
.skill-text {
  font-size: 12px;
  opacity: 80%;
}
.front-icon {
  stroke-width: 1;
}


.skill-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.project-img{
  border-radius: 3%;
  height: 100%;
  width: 85%;
  object-fit: cover;
  background-color: #fcf4f4;
}

a {
  p {
    text-align: left;
    margin-bottom: 5px;
  }
}

//************************
// footer
//************************
.footer-icons {
  .icon-item {
    margin-left: 2%;
  }
}


// **************************************************************
// Media screen size phones
// **************************************************************

// 
// iphone 12
// 

@media only screen and (max-width: 700px) {
  // *********
  // shared CSS rules
  // *********

  .skill-text,
  .card-text {
    font-size: 12px !important;
    opacity: 80% !important;
  }
  .skills-head,
  .skill-intro {
    text-align: left;
  }
  
.card-title,
.about-title {
  font-size: 30px !important;
  font-weight: 600 !important;
}
.aboutMe-Name{
  font-size: 20px;
}

  // *********
  // navbar
  // *********

  // *********
  // Banner
  // *********

  .banner {
    padding: 360px 0 60px !important;
    background-position: -650px 0px;
  }
  .banner-arrow {
    // margin-top: 50px;
    margin: 50px 0 10px !important;
  }
  .job-title {
    font-size: 28;
    font-weight: 500;
  }
  .banner-text{
    margin-top: 15px;
  }

  // *********
  // quote
  // *********
  .quote-text {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
  }
  .quote-auth {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  // *********************
  // about me
  // *********************

  .aboutMe-foot {
    font-size: 20px;
    margin-bottom: 2rem;
  }

  .card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    h4,
    .card-text {
      text-align: left;
    }
    .about-icon {
      margin-bottom: 6px;
    }
  }
  .moonoz-college {
    width: 100%;
    height: 294px;
    margin: 10% 0 12%;
  }
  // ****************************
  // skills section
  // ****************************
  .card-sec {
    width: 85% !important;
  }
  .moonoz-Img {
    box-shadow: #133a1b;
    img {
      border-radius: 70%;
      object-fit: contain;
      width: 100%;
    }
  }
  .Moonoz {
    margin-left: 11rem !important;
    margin-top: -12rem !important;
  }

  .skills-space {
    margin-top: 32px;
  }
  .skill,
  .certificate-title,
  .front-title,
  .tool-title, .graphics-title  {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
  }

  .skills-head {
    font-size: 18px;
  }
  .skill-text{
    font-size: 12px;
    font-weight: 600;
  }
  .project-img{
    border-radius: 5%;
    height: 90%;
    width: 100%;
    margin-top: 10px;
  }
  
  

  .selfDescription {
    font-size: 20px;
  }
  svg.icon-item{
    margin-bottom: 8px;
    margin-right: 10px;
    height: 2.5rem;
    width: 2.5rem;
  }
}

// 
// laptops
// 

@media only screen and (min-width: 990px) {
// *********
// banner
// *********
.name{
  font-size: 60px!important;
}
.banner-arrow{
margin-top: 1rem;
}
.banner{
  padding: 15.3rem 0 14rem !important;
}
// *********
// quote
// *********
#Quote{
  height: 500px;
}
.quote-text {
  font-size: 70px;
  font-weight: 600;
}
.quote-auth, .quote-text{
  text-align: center !important;
}

.moonoz-college{
  width: 100%;
  height: 300px;
  margin-top: -150px;
}

.selfDescription, .aboutMe-Name{
  font-size: 50px;
}
.selfDescription{
  margin-top: 50px;
}
.aboutMe-foot{
  margin-bottom: 50px;
}
// *********************
// about me
// *********************
.moonoz-Img img{
  width: 75%;
}
// *********************
// skills
// *********************

.skill-title{
  font-weight: 500;
  font-size: 25px;
}
.cert-icon, .graph-icon, .tools-icon, .front-icon{
  margin-right: 5px;
  margin-bottom: 5px;
}
.moonoz-Img{
  margin-top: 3rem;
  .Moonoz{
    width: 90%;
  }
}


}
