@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
@font-face {
  font-family: "cocoFont";
  src: url("../src/font/Coco.otf");
}
// colors influenced by coco
$main-bkgd: #000000;
$whtColor: #fcf4f4;
$redColor: #ee3b24;
$blueColor: #2498cb;
$dk-blue: #107dbc;
$pinkColor: #ef519e;
$orangeColor: #f99e1a;
$dk-orange-color: #f5801e;
$green-color: #ada03d;

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flexbox;
  text-align: center;
  color: $whtColor;
}

a:visted {
  color: inherit !important;
}
#Footer {
  background-color: #7c898f;
  padding: 1.5rem 0;
}
.section-bkgd {
  padding: 15px 0;
  // background-color: #1f0202;
  background-color: $main-bkgd;
}

.icon-item {
  height: 2rem;
  width: 2rem;
}
//************************
// Navbar
//************************
nav {
  backdrop-filter: blur(4px) saturate(200%);
  -webkit-backdrop-filter: blur(4px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.36);
  border-bottom: 1px solid rgba(209, 213, 219, 0.3);
  .navbar-brand,
  .nav-link,
  .navbar-text {
    color: white !important;
  }
  .navbar-brand {
    text-align: left !important;
  }
}
.nav-Name {
  text-decoration: none;
}

.nav-tag {
  width: 25%;
  text-align: left !important;
}

//************************
//text1
//************************

h1 {
  font-size: 80px;
  font-weight: 600;
}
h2 {
  font-size: 60px;
}

h1,
h2,
h3,
.navbar-brand {
  color: white;
  font-weight: bold;
}
.aboutMe-title,
.quote-auth,
.city,
.aboutMe-foot,
.projects-title {
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 60% !important;
}
.aboutMe-Name,
.card-title,
.about-title {
  font-size: 30px !important;
  font-weight: 600 !important;
}
.quote-text,
.job-title {
  font-size: 35px;
  font-weight: 500;
}

// ************************
// quote section
// ************************

#Quote {
  margin-top: 5%;
}
.quote-auth {
  font-size: 20px;
  font-weight: 500;
}

//************************
//banner
//************************
.moonoz-Img {
  margin-top: 120px;
  margin-bottom: 30px;
  img {
    border-radius: 50%;
    object-fit: contain;
    width: 25%;
    box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
  }
}
.name {
  font-size: 40px !important;
}

.banner-text {
  line-height: 2.5rem;
}
.job-title {
  font-size: 29px;
}

.banner-icons {
  margin: 2% 0;
  // width: 50% !important;
  display: flex;
  justify-content: space-evenly;
  .lkd-icon,
  .git-icon,
  .ig-icon {
    opacity: 70% !important;
  }
}
// icon hover
.lkd-icon:hover {
  opacity: 100% !important;
  .icon-item {
    fill: $orangeColor;
  }
}
.git-icon:hover {
  opacity: 100% !important;
  .icon-item {
    fill: $redColor;
  }
}
.ig-icon:hover {
  opacity: 100% !important;
  .icon-item {
    fill: $pinkColor;
  }
}
.banner {
  background-size: cover;
  background-image: url("../src/img/bannerBkgd.jpg");
  background-position: center;
  padding: 21.3rem 0 14rem !important;
}

//************************
// about me
//************************
.card {
  width: 100%;
  border-radius: 10px !important;
  background-color: rgb(243 243 243 / 12%)!important;
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
  margin-left: auto;
  margin-right: auto;
  transition: all 250ms ease;
}
.card:hover {
  transition: all 250ms ease;
  -webkit-box-shadow: 0px 17px 49px 1px #ffffff;
}
.moonoz-college {
  width: 70%;
  border-radius: 50%;
  
  box-shadow: 0px 0px 22px 5px rgb(255, 255, 255, .8);
  
}
.name,
.graphics-title,
.about-title,
.skill-title,
.selfDescription {
  font-family: cocoFont !important;
}
.red-change:hover {
  background-color: $redColor !important;
  box-shadow: 0px 17px 30px 0.5px $pinkColor;
}
.blue-change:hover {
  background-color: $blueColor !important;
  box-shadow: 0px 17px 30px 0.5px $orangeColor;
}

// ************************
// skills section
// ************************
.card {
  display: flex;
}
.card-title {
  justify-content: center !important;
}
.card-sec {
  padding: 0.7rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

//************************
// footer
//************************
.footer-icons {
  .icon-item {
    margin-left: 2%;
  }
}
//************************
// gradient backgrtound
//************************

// .gradient-background {
//   background: linear-gradient(100deg, $redColor, $orangeColor,$dk-orange-color, $blueColor, $dk-blue);
//   background-size: 400% 400%;
//   animation: gradient-animation 10s ease infinite;
//   padding-bottom: 5%;
// }

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// **************************************************************
// Media screen size phones
// **************************************************************

@media only screen and (max-width: 700px) {
  // *********
  // shared CSS rules
  // *********

  #Quote,
  #About {
    margin-top: 3rem;
  }

  .skill-text,
  .card-text {
    font-size: 12px !important;
    opacity: 80% !important;
  }

  // *********
  // navbar
  // *********

  // *********
  // Banner
  // *********

  .moonoz-Img {
    margin-top: 80px;
    margin-bottom: 30px;
    box-shadow: #133a1b;
    img {
      border-radius: 50%;
      object-fit: contain;
      width: 60%;
    }
  }

  .banner {
    padding: 360px 0 60px !important;
    background-position: -610px 0px;
  }

  // *********
  // quote
  // *********
  #Quote {
    padding: 0 20px;
  }

  .quote-text {
    font-size: 30px;
    font-weight: 500;
  }
  .quote-auth {
    margin-bottom: 15px;
  }

  // *********************
  // about me
  // *********************

  .aboutMe-foot {
    font-size: 20px;
    a {
      color: $whtColor;
      text-decoration: none;
    }
  }

  .card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    h4,
    .card-text {
      text-align: left;
    }
    .about-icon {
      margin-bottom: 6px;
    }
  }
  .moonoz-college {
    width: 90%;
    margin: 10% 0 12%;
  }
  // **************
  // skills section
  // **************
  .card-sec {
    // padding: 0.7rem 1.5rem;
    // border: 1px solid rgba(255, 255, 255, 0.6) !important;
    border-radius: 10px;
    width: 70%;
    margin-top: 2em;
    div {
      text-align: left;
    }
  }
  .skills-space {
    margin-top: 32px;
  }
  .skill-title {
    text-align: center;
    font-size: 25px;
  }
  .graphics-title {
    font-size: 22px;
  }
  .skill-text {
    margin-top: 1rem;
  }

  .selfDescription {
    font-size: 20px;
  }
}
