@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap");

@font-face {
  font-family: "cocoFont";
  src: url("../src/font/Coco.otf");
}
// colors influenced by coco
$main-bkgd: #0d1318;
// 1a2631
// 19161d
$whtColor: #fcf4f4;
$redColor: #ee3b24;
$blueColor: #2498cb;
$dk-blue: #107dbc;
$pinkColor: #ef519e;
$orangeColor: #f99e1a;
$dk-orange-color: #f5801e;
$green-color: #ada03d;

:root{
  --font: "Inter", sans-serif;
  box-sizing: border-box;
  text-align: center;

}

* {
  margin: 0;
  display: flexbox;
  color: $whtColor;
}

a {
  color: $whtColor !important;
  text-decoration: none !important;
}
#Footer {
  // background-color: #2b3a4b;
  padding: 1.5rem 0;
}
.section-bkgd {
  padding: 15px 0;
  // background-color: #1f0202;
  background-color: $main-bkgd;
}

.icon-item {
  height: 2rem;
  width: 2rem;
}
.cert-icon {
  fill: $whtColor;
}
//************************
// Navbar
//************************
nav {
  backdrop-filter: blur(4px) saturate(200%);
  -webkit-backdrop-filter: blur(4px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.36);
  border-bottom: 1px solid rgba(209, 213, 219, 0.3);
  .navbar-brand,
  .nav-link,
  .navbar-text {
    color: white !important;
  }
  .navbar-brand {
    text-align: left !important;
  }
}

.nav-tag {
  width: 25%;
  text-align: left !important;
}

//************************
//text1
//************************
.name,
.selfDescription,
.skill-intro,
.aboutMe-Name {
  font-family: cocoFont !important;
}

h1 {
  font-size: 80px;
  font-weight: 600;
}
h2 {
  font-size: 60px;
}

h1,
h2,
h3,
.navbar-brand {
  color: white;
  font-weight: bold;
}
.aboutMe-title,
.skills-head,
.quote-auth,
.city,
.aboutMe-foot,
.projects-title {
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 60% !important;
}
.aboutMe-Name,
.card-title,
.about-title {
  font-size: 30px !important;
  font-weight: 600 !important;
}
.quote-text,
.job-title {
  font-size: 35px;
  font-weight: 500;
}

// ************************
// quote section
// ************************

#Quote {
  // margin-top: 5%;
  display: flex;
  height: 250px;
}
.quote-row{
  margin-top: auto !important;
  margin-bottom: auto!important;
  vertical-align: middle;
}
.quote-auth {
  font-size: 20px;
  font-weight: 500;
}

//************************
//banner
//************************

.name {
  font-size: 40px !important;
}

.banner-text {
  line-height: 2.5rem;
}
.job-title {
  font-size: 29px;
}

.banner-icons,
.footer-icons {
  margin: 2% 0;
  // width: 50% !important;
  display: flex;
  justify-content: space-evenly;
  .lkd-icon,
  .git-icon,
  .ig-icon {
    opacity: 70% !important;
  }
}
// icon hover
.lkd-icon:hover {
  opacity: 100% !important;
  .icon-item {
    fill: $orangeColor;
  }
}
.git-icon:hover {
  opacity: 100% !important;
  .icon-item {
    fill: $redColor;
  }
}
.ig-icon:hover {
  opacity: 100% !important;
  .icon-item {
    fill: $pinkColor;
  }
}
.banner {
  background-size: cover;
  background-image: url("../src/img/bannerBkgd.jpg");
  background-position: center;
  padding: 21.3rem 0 14rem !important;
}

//************************
// about me
//************************
.card, .card-sec {
  width: 100%;
  border-radius: 10px !important;
  margin-left: auto;
  margin-right: auto;
  transition: all 250ms ease;
  // animation: grow-shadow ;
}
.card, .card-sec, #Footer{
  background-color: rgb(24, 37, 41) !important;
}

.card:hover {
  transition: all 250ms ease-in-out;
  -webkit-box-shadow: 0px 17px 49px 1px #ffffff;
  .about-title {
    font-family: cocoFont;
  }
}
.moonoz-college {
  width: 100%;
  height: 100%;
  // background-color: $redColor;
  background: url("./img/joelCollege.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  // background-repeat: none;
  // background-position: cover;
  // border-radius: 50%;
  // box-shadow: 0px 0px 22px 5px rgb(255, 255, 255, .8);
}
.moonoz-college:hover {
  background: url("https://c.tenor.com/02ILjyFVXWQAAAAC/handshake.gif")
    no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #fffe;
}
.frame {
  border-image: url("./img/goldFrame.png") 130 145 133 138 stretch stretch;
  border-color: #f4be52;
  border-style: inset;
  border-width: 50px;
  display: inline-block;
  background-color: #fffe;
  margin: 0 auto;
}
.about-title {
  font-size: 24px;
  font-weight: 600;
}
// .about-title:hover{
//   font-family: cocoFont;
//   transition: 2s ease-in-out;
// }

.red-change:hover {
  background-color: rgb(126, 33, 53, 0.5) !important;
}
.blue-change:hover {
  background-color: #345454 !important;
}

// ************************
// skills section
// ************************
.moonoz-Img {
  img {
    border-radius: 50%;
    object-fit: contain;
    width: 25%;
    box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
  }
}

.card-title {
  justify-content: center !important;
}
.card-sec {
  padding: 0.7rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
.card-sec {
  border-radius: 10px;
  width: 75% !important;
  margin-bottom: 2em;
  div {
    text-align: left !important;
  }
}
.skill-text {
  font-size: 12px;
  opacity: 80%;
}
.front-icon {
  stroke-width: 1;
}
.skill-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

a {
  p {
    text-align: left;
    margin-bottom: 5px;
  }
}

//************************
// footer
//************************
.footer-icons {
  .icon-item {
    margin-left: 2%;
  }
}
//************************
// gradient backgrtound
//************************


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// **************************************************************
// Media screen size phones
// **************************************************************
// iphone 12
@media only screen and (max-width: 700px) {
  // *********
  // shared CSS rules
  // *********

  // #Quote,
  #About {
    margin-top: 3rem;
  }

  .skill-text,
  .card-text {
    font-size: 12px !important;
    opacity: 80% !important;
  }
  .skills-head,
  .skill-intro {
    text-align: left;
  }

  // *********
  // navbar
  // *********

  // *********
  // Banner
  // *********

  .banner {
    padding: 360px 0 60px !important;
    background-position: -650px 0px;
  }
  .banner-arrow {
    // margin-top: 50px;
    margin: 50px 0 10px !important;
  }
  .job-title {
    font-size: 28;
    font-weight: 500;
  }
  .banner-text{
    margin-top: 15px;
  }

  // *********
  // quote
  // *********
  #Quote {
    // padding: 0 25px;
  }

  .quote-text {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    transition: .5s ease !important;
  }
  .quote-auth {
    margin-bottom: 15px;
  }

  // *********************
  // about me
  // *********************

  .aboutMe-foot {
    font-size: 20px;
    margin-bottom: 2rem;
  }

  .card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    h4,
    .card-text {
      text-align: left;
    }
    .about-icon {
      margin-bottom: 6px;
    }
  }
  .moonoz-college {
    width: 100%;
    height: 294px;
    margin: 10% 0 12%;
  }
  // ****************************
  // skills section
  // ****************************
  .card-sec {
    width: 85% !important;
  }
  .moonoz-Img {
    box-shadow: #133a1b;
    img {
      border-radius: 70%;
      object-fit: contain;
      width: 100%;
    }
  }
  .Moonoz {
    margin-left: 11rem !important;
    margin-top: -12rem !important;
  }

  .skills-space {
    margin-top: 32px;
  }
  .skill,
  .certificate-title,
  .front-title,
  .tool-title, .graphics-title  {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
  }

  .skills-head {
    font-size: 18px;
  }
  .skill-text{
    font-size: 12px;
    font-weight: 600;
  }
  

  .selfDescription {
    font-size: 20px;
  }
  svg.icon-item{
    margin-bottom: 8px;
    margin-right: 10px;
    height: 2.5rem;
    width: 2.5rem;
  }
}

// ***********************************************************************
// hoover effects
// ***********************************************************************

// bob effect
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  // background-color: $blueColor;
}
.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
/* Grow Rotate */
.hvr-grow-rotate-left,
.hvr-grow-rotate-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate-left:hover,
.hvr-grow-rotate-left:focus,
.hvr-grow-rotate-left:active {
  -webkit-transform: scale(1.1) rotate(-4deg);
  transform: scale(1.1) rotate(-4deg);
}
.hvr-grow-rotate-right:hover,
.hvr-grow-rotate-right:focus,
.hvr-grow-rotate-right:active  {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}
