@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
  // padding: 0;
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flexbox;
  text-align: center;
  color: white;
}
a {
  // text-decoration: none ;
  color: white !important;
}
a:hover {
  // color: white;
}

#Footer {
  background-color: royalblue;
  padding: 1.5rem 0;
}
.section-bkgd {
  padding: 15px 0;
  // background-color: #1f0202;
  background-color: #0f1111;
}

.icon-item {
  height: 1.5rem;
  width: 1.5rem;
}
//************************
// Navbar
//************************
nav {
  backdrop-filter: blur(4px) saturate(200%);
  -webkit-backdrop-filter: blur(4px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.36);
  border-bottom: 1px solid rgba(209, 213, 219, 0.3);
  .navbar-brand,
  .nav-link,
  .navbar-text {
    color: white !important;
  }
  .navbar-brand {
    text-align: left !important;
  }
}

.nav-tag {
  width: 25%;
  text-align: left !important;
}

//************************
//text1
//************************

h1 {
  font-size: 80px;
  font-weight: 600;
}
h2 {
  font-size: 60px;
}

h1,
h2,
h3,
.navbar-brand {
  color: white;
  font-weight: bold;
}
// ************************
// quote section
// ************************

#Quote {
  margin-top: 5%;
}
.quote-auth {
  font-size: 20px;
  font-weight: 500;
}

//************************
//banner
//************************
.moonoz-Img {
  margin-top: 120px;
  margin-bottom: 30px;
  img {
    border-radius: 50%;
    object-fit: contain;
    width: 25%;
    box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
  }
}

.banner-icons {
  margin: 2% 0;
  width: 50% !important;
  display: flex;
  justify-content: space-evenly;
}

// ************************
// skills section
// ************************
.card {
  display: flex;
}
.card-title {
  justify-content: center !important;
}

//************************
// footer
//************************
.footer-icons {
  .icon-item {
    margin-left: 2%;
  }
}
//************************
// gradient backgrtound
//************************

.gradient-background {
  // background: linear-gradient(90deg,#133a1b,#ff4f4f,#e4deae);
  // background: linear-gradient(90deg, #676767, #ede8e4, #86868b);
  background: linear-gradient(90deg, #e65e5a, #9ca2a5, #7daec3);
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
  padding-bottom: 5%;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

//************************
// about me
//************************
.card {
  width: 100%;
  border-radius: 10px !important;
  background-color: #7a0303 !important;
  margin-left: auto;
  margin-right: auto;
  transition: all 250ms ease;
}
.card:hover {
  transition: all 250ms ease;
  -webkit-box-shadow: 0px 17px 49px 1px #ffffff;
  box-shadow: 0px 17px 49px 1px #ffffff;
}
.moonoz-college {
  width: 70%;
  border-radius: 50%;
}
.card-title {
  display: flex;
  text-align: center !important;
}

// **************************************************************
// Media screen size phones
// **************************************************************

@media only screen and (max-width: 700px) {
  // *********
  // shared CSS rules
  // *********

  #Quote,
  #About {
    margin-top: 2rem;
  }

  .skill-text,
  .card-text {
    font-size: 12px !important;
    opacity: 80%;
  }
  .aboutMe-title,
  .quote-auth,
  .city {
    font-size: 20px;
    font-weight: 500;
    opacity: 60%;
  }

  .aboutMe-Name,
  .skill-title,
  .card-title {
    font-size: 30px !important;
    font-weight: 600 !important;
  }
  .quote-text,
  .job-title {
    font-size: 35px;
    font-weight: 500;
  }

  // *********
  // Banner
  // *********

  .moonoz-Img {
    margin-top: 80px;
    margin-bottom: 30px;
    box-shadow: #133a1b;
    img {
      border-radius: 50%;
      object-fit: contain;
      width: 60%;
    }
  }
  .banner-Mobile {
    padding-top: 90px;
    padding-bottom: 20%;
  }
  .name {
    font-size: 50px !important;
    font-weight: 700;
  }

  // *********
  // quote
  // *********
  #Quote {
    padding: 0 20px;
  }

  .quote-text,.selfDescription {
    font-size: 30px;
    font-weight: 500;
  }
  .quote-auth {
    margin-bottom: 15px;
  }
  .banner-icons {
    opacity: 50%;
  }

  // *********
  // about me
  // *********

  .card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    h4,
    .card-text {
      text-align: left;
    }
    .about-icon {
      margin-bottom: 6px;
    }
  }

  // remove shadow in
  .card:hover {
    box-shadow: none;
  }
  // **************
  // skills section
  // **************
  .card-sec {
    padding: 0.7rem 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.6) !important;
    border-radius: 10px;
    width: 70%;
    margin-top: 2em;
    div {
      text-align: left;
    }
  }
  .skills-space {
    margin-top: 32px;
  }
  .skill-title {
    text-align: center;
  }
  .skill-text {
    margin-top: 1rem;
  }
}
