@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");

$main-bkgd: #1f2225;
$text-wht: #ededed;
$red-color: #EE3B24;
$blue-color: #2498CB;
$orangecolor: #f99e1a;
// colors influenced by coco


* {
  box-sizing: border-box;
  // padding: 0;
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flexbox;
  text-align: center;
  color: white;
}
a {
  // text-decoration: none ;
  // color: $text-wht !important;
}

#Footer {
  background-color: #7c898f;
  padding: 1.5rem 0;
}
.section-bkgd {
  padding: 15px 0;
  // background-color: #1f0202;
  background-color: $main-bkgd;
}

.icon-item {
  height: 1.5rem;
  width: 1.5rem;
}
//************************
// Navbar
//************************
nav {
  backdrop-filter: blur(4px) saturate(200%);
  -webkit-backdrop-filter: blur(4px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.36);
  border-bottom: 1px solid rgba(209, 213, 219, 0.3);
  .navbar-brand,
  .nav-link,
  .navbar-text {
    color: white !important;
  }
  .navbar-brand {
    text-align: left !important;
  }
}

.nav-tag {
  width: 25%;
  text-align: left !important;
}

//************************
//text1
//************************

h1 {
  font-size: 80px;
  font-weight: 600;
}
h2 {
  font-size: 60px;
}

h1,
h2,
h3,
.navbar-brand {
  color: white;
  font-weight: bold;
}
.aboutMe-title,
.quote-auth,
.city,
.aboutMe-foot {
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 60%;
}
.aboutMe-Name,
.skill-title,
.card-title,
.about-title {
  font-size: 30px !important;
  font-weight: 600 !important;
}
.quote-text,
.job-title {
  font-size: 35px;
  font-weight: 500;
}
.name {
  font-size: 50px !important;
  font-weight: 700;
}
// ************************
// quote section
// ************************

#Quote {
  margin-top: 5%;
}
.quote-auth {
  font-size: 20px;
  font-weight: 500;
}

//************************
//banner
//************************
.moonoz-Img {
  margin-top: 120px;
  margin-bottom: 30px;
  img {
    border-radius: 50%;
    object-fit: contain;
    width: 25%;
    box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px -1px 8px 4px rgba(255, 255, 255, 1);
  }
}

.banner-text {
  line-height: 2.5rem;
}

.banner-icons {
  margin: 2% 0;
  width: 50% !important;
  display: flex;
  justify-content: space-evenly;
  // opacity: 50%;
  .icon-item {
    opacity: 50%;
  }
}
.icon-item:hover {
  opacity: 100% !important;
}
.about-title{
  .red-text{
    color: #EE3B24;
  }
  
}
.yellow-change:hover{
  background-color: #F99E1A !important;
  .red-text{
    color: #EF519E;
  }
}



// .red-text,
// .color-test {
//   color: #FC5c14;
// }

.blue-text{
  background: linear-gradient(120deg,  $blue-color, $red-color);
}

.blue-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: fit-content;
}

// ************************
// skills section
// ************************
.card {
  display: flex;
}
.card-title {
  justify-content: center !important;
}
.card-sec {
  padding: 0.7rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
}

//************************
// footer
//************************
.footer-icons {
  .icon-item {
    margin-left: 2%;
  }
}
//************************
// gradient backgrtound
//************************

.gradient-background {
  // background: linear-gradient(90deg,#133a1b,#ff4f4f,#e4deae);
  // background: linear-gradient(90deg, #676767, #ede8e4, #86868b);
  // background: linear-gradient(90deg, #e65e5a, #9ca2a5, #7daec3);
  background: linear-gradient(90deg, $red-color, $orangecolor, $blue-color);
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
  padding-bottom: 5%;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

//************************
// about me
//************************
.card {
  width: 100%;
  border-radius: 10px !important;
  background-color: #7c898f !important;
  border: 1px solid rgba(237, 237, 237, 0.8) !important;
  margin-left: auto;
  margin-right: auto;
  transition: all 250ms ease;
}
.card:hover {
  transition: all 250ms ease;
  -webkit-box-shadow: 0px 17px 49px 1px #ffffff;
  box-shadow: 0px 17px 49px 1px #ffffff;
}
.moonoz-college {
  width: 70%;
  border-radius: 50%;
}
.card-title {
  display: flex;
  text-align: center !important;
}

// **************************************************************
// Media screen size phones
// **************************************************************

@media only screen and (max-width: 700px) {
  // *********
  // shared CSS rules
  // *********

  #Quote,
  #About {
    margin-top: 3rem;
  }

  .skill-text,
  .card-text {
    font-size: 12px !important;
    opacity: 80%;
  }

  // *********
  // navbar
  // *********

  // *********
  // Banner
  // *********

  .moonoz-Img {
    margin-top: 80px;
    margin-bottom: 30px;
    box-shadow: #133a1b;
    img {
      border-radius: 50%;
      object-fit: contain;
      width: 60%;
    }
  }
  .banner-Mobile {
    padding-top: 90px;
    padding-bottom: 15%;
  }

  // *********
  // quote
  // *********
  #Quote {
    padding: 0 20px;
  }

  .quote-text,
  .selfDescription {
    font-size: 30px;
    font-weight: 500;
  }
  .quote-auth {
    margin-bottom: 15px;
  }

  // *********************
  // about me
  // *********************

  .card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    h4,
    .card-text {
      text-align: left;
    }
    .about-icon {
      margin-bottom: 6px;
    }
  }

  // remove shadow in
  .card:hover {
    box-shadow: none;
  }
  .moonoz-college {
    margin: 10% 0 12%;
  }
  // **************
  // skills section
  // **************
  .card-sec {
    // padding: 0.7rem 1.5rem;
    // border: 1px solid rgba(255, 255, 255, 0.6) !important;
    border-radius: 10px;
    width: 70%;
    margin-top: 2em;
    div {
      text-align: left;
    }
  }
  .skills-space {
    margin-top: 32px;
  }
  .skill-title {
    text-align: center;
  }
  .skill-text {
    margin-top: 1rem;
  }
}
